<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default_layout}"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<main class="border d-flex justify-content-center align-items-center flex-column" layout:fragment="content">
    <div><h1>WebSocket 채팅</h1></div>
    <form action="/login" class="w-100 px-5 mt-5">
        <div>
            <label class="form-label" for="nickname"></label>
            <input class="form-control py-3" id="nickname" name="nickname" placeholder="닉네임" type="text">
        </div>
        <button class="btn btn-primary w-100 mt-3 fs-3" type="submit">이동</button>
    </form>
</main>
</html>
<script>

</script>